<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome!</title>
  <link rel="stylesheet" href="/css/styles.css">
  <style>
    body {
      background-color: #f2f2f2;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .container {
      text-align: center;
      padding: 20px;
      background-color: #eaf6ff;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    img {
      width: 200px;
      margin-bottom: 20px;
    }

    .buttons {
      display: flex;
      justify-content: center;
    }

    a {
      text-decoration: none;
    }

    .container h1 {
      font-size: 36px;
      color: #333;
      margin-bottom: 20px;
    }

    button {
      background-color: #007bff;
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 3px;
      font-size: 14px;
      margin: 0 10px;
      cursor: pointer;
    }

    button:hover {
      background-color: #0056b3;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Daily Journal</h1>
    <img src="https://img.freepik.com/free-vector/illustration-paper_53876-5860.jpg?w=740&t=st=1687274068~exp=1687274668~hmac=74b29ea964f0093f005716a1cbd8de03db24c8964a48990ba54d3a84c7fbe486" alt="Daily Journal">
    <div class="buttons">
      <a href="/login"><button>Login</button></a>
      <a href="/register"><button>Register</button></a>
    </div>
  </div>
</body>
</html>
